<a routerLink="cats">Go To Cats</a>

<h2 class="mat-headline-small" style="padding-bottom: 16px">
  Tworzenie przepisu
</h2>


<section
  style="
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
  "
>
  <div style="width: 100%">
    <span class="mat-label-medium">Wybierz zwierzę</span>
    <mat-chip-listbox
      [(ngModel)]="selectedPets"
      aria-label="Pet selection"
      multiple
    >
      <mat-chip-option [value]="'Kiara'">Kiara (5.9 kg)</mat-chip-option>
      <mat-chip-option [value]="'Lucyfer'">Lucyfer (7.2 kg)</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <mat-form-field appearance="outline" style="width: 100%; margin-top: 16px">
    <mat-label>Na ile dni?</mat-label>
    <mat-icon matPrefix>schedule</mat-icon>
    <input type="number" [(ngModel)]="selectedPeriod" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%; margin-top: 16px">
    <mat-label>Waga</mat-label>
    <mat-icon matPrefix>scale</mat-icon>
    <input type="number" [(ngModel)]="selectedWeight" matInput />
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    style="width: fit-content"
    (click)="generateRecipes()"
  >
    Generuj przepis
  </button>
</section>

@let recipe = generatedRecipe(); @if (recipe) {
<section style="padding-bottom: 32px">
  <h2 class="mat-headline-small" style="padding-top: 16px">
    {{ recipe.name }}
  </h2>
  <span class="mat-title-small">{{ recipe.description }}</span>
</section>

<section style="margin-bottom: 32px;">
  <span style="display: block"
    >Waga całkowita:
    <strong>{{ recipe.totalFoodWeight | number : "1.0-0" }}</strong> g</span
  >
  <span style="display: block"
    >Waga dzienna do pakowania:
    <strong>{{ recipe.dailyFoodWeight | number : "1.1-1" }}</strong> g</span
  >
</section>

<section>
  <span class="mat-body-large"><strong>Lista składników</strong></span>
  <mat-list>
    @for (ingredient of recipe.ingredients; track $index) {
    <mat-list-item>
      <span matListItemTitle>{{ ingredient.name }}</span>
      <span matListItemMeta>{{ ingredient.weight }} g</span>
    </mat-list-item>
    }
  </mat-list>
</section>
<section>
  <span class="mat-body-large"><strong>Lista suplementów</strong></span>
  <mat-list>
    @for (supplement of recipe.supplements; track $index) {
    <mat-list-item>
      <span matListItemTitle>{{ supplement.name }}</span>
      <span matListItemMeta>{{ supplement.weight }} g</span>
    </mat-list-item>
    }
  </mat-list>
</section>
<hr>

<h6>data overview</h6>
<pre>data: {{ recipe | json }}</pre>
}


<router-outlet />
